@model MVCPractice1.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!-- Bootstrap core CSS-->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

<!-- Custom styles for this template-->
<link href="/css/sb-admin.css" rel="stylesheet">

<body class="bg-dark">

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">
            <a href="/Test/@Session["view"]" class="close">&times;</a>
            Login
        </div>
        <div class="card-body">
            <form id="myForm">
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
                        <label for="inputEmail">Email address</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                        <label for="inputPassword">Password</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me">
                            Remember Password
                        </label>
                    </div>
                </div>
                <a class="btn btn-primary btn-block" href="" onclick="login()">Login</a>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="/Test/Registration">Register an Account</a>
                <a class="d-block small" href="">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

<script>

    var login = function() {

        var data =
        {
            Email: $("#inputEmail").val(),
            Password: $("#inputPassword").val()
        }

        $.ajax({
            type: "Post",
            contentType: "application/json; charset=utf-8",
            url: "/Test/Login",
            data: JSON.stringify(data),
            dataType: "json",

            success: function(response) {
                
                if (response == "fail") {
                    window.location.href="/Test/Login";
                }
                else if (response == "Admin") {
                    window.location.href="/Test/Admin";
                } else {
                    window.location.href="/Test/Start";
                }
            }
        });
    }

</script>